---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>RealDefense</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Navbar />
    <main style="padding-top: 64px;">
      <Hero />
    </main>
  </body>
</html>
